/*---- StepDiffView ----*/

.diff .list-cell:filled:selected:focused .add, .diff .list-cell:filled:selected .add {
    -fx-text-fill: white;
}

.diff .list-cell:filled:selected:focused .modify, .diff .list-cell:filled:selected .modify {
    -fx-text-fill: white;
}

.diff .list-cell:filled:selected:focused .delete, .diff .list-cell:filled:selected .delete {
    -fx-text-fill: white;
}

.diff .list-cell:filled:selected:focused .path, .diff .list-cell:filled:selected .path {
    -fx-text-fill: white;
}

.diff .list-cell .add {
    -fx-text-fill: green;
}

.diff .list-cell .modify {
    -fx-text-fill: #039ED3; /* official JavaFX blue (see modena.css) */
}

.diff .list-cell .delete {
    -fx-text-fill: darkred;
}

.diff .list-cell .path {
    -fx-text-fill: grey;
}